@charset "UTF-8";
* {
  position: relative;
  margin: 0px;
  padding: 0px;
  font-family: 微軟正黑體;
  box-sizing: border-box;
  vertical-align: top;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}


.myform-div{
  flex-direction:row;
  width:"66.7%";
}


.navbar-right{
  z-index:1001;
}

.intro .container-fluid .row .picture.col-sm-12 {
  padding: 0px;
  height: 700px;
  width:100%;
  background-image: url('../assets/images/home_bg.jpg');
  background-position:center;
  background-color: #000000;
  -webkit-background-size:cover;
  background-size:cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.5;
}
.intro .container-fluid .row .block {
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
  opacity: 1;
  margin-top: 200px;
  color: #000000;
}
.intro .container-fluid .row .block .title {
  letter-spacing: 15px;
  font-size: 72px;
  margin: 30px 0px;
}
.intro .container-fluid .row .block .slogan {
  font-weight: 300;
  letter-spacing: 18px;
}
.intro .container-fluid .row .picture.col-sm-12 .shadow {
  background: #D8D8D8;
  border-radius: 8px;
  width: 700px;
  height: 14px;
  margin: 0px auto;
}
.intro .container-fluid .row .picture.col-sm-12 .shadow .road {
  width: 200%;
  margin-top: -7px;
  position: relative;
  overflow-y: hidden;
  -webkit-animation: mov-road 3s linear infinite;
          animation: mov-road 3s linear infinite;
}
.intro .container-fluid .row .picture.col-sm-12 .shadow .road .line {
  float: left;
}
.intro .container-fluid .row .picture.col-sm-12 .shadow .road .line:nth-child(1) {
  position: absolute;
  width: 10px;
  height: 6px;
  background: #3A3E4B;
  border-radius: 4px;
  margin-left: 80px;
  margin-right: 20px;
}
.intro .container-fluid .row .picture.col-sm-12 .shadow .road .line:nth-child(2) {
  position: absolute;
  width: 20px;
  height: 6px;
  background: #3A3E4B;
  border-radius: 4px;
  margin-right: 150px;
}
.intro .container-fluid .row .picture.col-sm-12 .shadow .road .line:nth-child(3) {
  width: 200px;
  height: 6px;
  background: #3A3E4B;
  border-radius: 4px;
  margin-right: 80px;
}
.intro .container-fluid .row .picture.col-sm-12 .shadow .road .line:nth-child(4) {
  width: 200px;
  height: 6px;
  background: #3A3E4B;
  border-radius: 4px;
  margin-right: 180px;
}
.intro .container-fluid .row .picture.col-sm-12 .shadow .road .line:nth-child(5) {
  width: 150px;
  height: 6px;
  background: #3A3E4B;
  border-radius: 4px;
  margin-right: 300px;
}
.intro .container-fluid .row .picture.col-sm-12 .shadow .road .line:nth-child(6) {
  width: 200px;
  height: 6px;
  background: #3A3E4B;
  border-radius: 4px;
}
.intro .container-fluid .row .picture.col-sm-12 .shadow .road .line:nth-child(7) {
  width: 10px;
  height: 6px;
  background: #3A3E4B;
  border-radius: 4px;
  margin-left: 80px;
  margin-right: 20px;
}
.intro .container-fluid .row .picture.col-sm-12 .shadow .road .line:nth-child(8) {
  width: 20px;
  height: 6px;
  background: #3A3E4B;
  border-radius: 4px;
  margin-right: 150px;
}

.section3_block{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 7.5%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section3_block .title{
  letter-spacing: 10px;
}
.section3_block .content{
  letter-spacing: 2px;
  line-height: 20px;
}
.intro .container-fluid .row .better-choice .col-sm-12 .block {
  left: 50%;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.intro .container-fluid .row .better-choice .col-sm-12 .block .content {
  width: 60%;
  left: 50%;
  letter-spacing: 2px;
  line-height: 20px;
}
.intro .container-fluid .row .icon-set.col-sm-4 {
  margin: 50px 0px;
  padding: 40px;
  text-align: center;
}
.section2_mainDiv{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.section2_icon {
  width: 90px;
  height: 90px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.section2_icon:hover{
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}
.section2_title {
  font-weight: 700;
  letter-spacing: 4px;
}
.section2_content {
  letter-spacing: 2px;
  line-height: 25px;
}


.intro .container-fluid .row .search-result .block {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.intro .container-fluid .row .search-result .title {
  letter-spacing: 10px;
}
.intro .container-fluid .row .search-result .content {
  width: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  letter-spacing: 2px;
  line-height: 20px;
}
.intro .container-fluid .row .bus-set.col-sm-4 {
  margin: 40px 0px;
}
.intro .container-fluid .row .bus-set.col-sm-4 .card {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 6px;
  background-color: #fff;
  padding: 6px;
  max-width: 300px;
  min-width: 250px;
  overflow: hidden;
  box-shadow: 20px 20px 20px -20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform-origin: 550% 50%;
          transform-origin: 550% 50%;
}
.intro .container-fluid .row .bus-set.col-sm-4 .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.intro .container-fluid .row .bus-set.col-sm-4 .card .top {
  width: 100%;
  height: 200px;
  border-radius: 12px;
}
.intro .container-fluid .row .bus-set.col-sm-4 .card .bottom {
  border-color: none;
  background-color: #fff;
  color: #383838;
  height: 240px;
}
.intro .container-fluid .row .bus-set.col-sm-4 .card .bottom h4 {
  font-weight: 400;
}
.intro .container-fluid .row .bus-set.col-sm-4 .card .bottom .title {
  margin-left: 5px;
  margin-bottom: 0px;
  display: inline-block;
  color: #EFEFEF;
  padding: 5px;
  background-color: #1085A8;
  font-weight: 400;
}
.intro .container-fluid .row .bus-set.col-sm-4 .card .bottom .circle {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  top: -30px;
  right: 5%;
  border-radius: 100%;
  background-color: #1085A8;
  color: #EFEFEF;
  text-align: center;
  padding-top: 15px;
  font-size: 18px;
}
.intro .container-fluid .row .bus-set.col-sm-4 .card .bottom .price {
  padding-top: 15px;
  display: inline-block;
}
.intro .container-fluid .row .bus-set.col-sm-4 .card .bottom .price .red {
  font-weight: 900;
  color: #d93800;
}
.intro .container-fluid .row .bus-set.col-sm-4 .card .bottom .owner, .intro .container-fluid .row .bus-set.col-sm-4 .card .bottom .publish-date {
  display: inline-block;
}
.intro .container-fluid .row .bus-set.col-sm-4 .card .bottom h4 {
  margin-left: 5px;
}
.intro .container-fluid .row .button-area.col-sm-4.col-sm-offset-8 {
  padding: 20px 0px;
}
.intro .container-fluid .row .button-area.col-sm-4.col-sm-offset-8 .more-button {
  text-align: center;
  width: 100px;
  height: 30px;
  line-height: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #1085A8;
  color: #EFEFEF;
  letter-spacing: 2px;
  border-radius: 5px;
}
.intro .container-fluid .row .email.col-md-12 {
  z-index: 1001;
  background-color: #1085A8;
  color: white;
  text-align: center;
}
.intro .container-fluid .row .email.col-md-12 .section-heading {
  letter-spacing: 5px;
}
.intro .container-fluid .row .email.col-md-12 .section-subheading {
  font-weight: 200;
}
.intro .container-fluid .row .email.col-md-12 input {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 350px;
}
.intro .container-fluid .row .email.col-md-12 .btn-default {
  margin-bottom: 10px;
}

@media screen and (max-width: 769px) {
  .container-fluid .row.bgc-blue .picture.col-sm-12 .bus {
    width: 380px;
  }
  .container-fluid .row.bgc-blue .picture.col-sm-12 .shadow {
    width: 400px;
  }
}
.bgc-white {
  background-color: #EFEFEF;
}

.bgc-blue {
  background-color: #1085A8;
}

@-webkit-keyframes mov-road {
  0% {
    left: 1500px;
  }
  100% {
    left: -1500px;
  }
}

@keyframes mov-road {
  0% {
    left: 1500px;
  }
  100% {
    left: -1500px;
  }
}
@-webkit-keyframes bus-bounce {
  0% {
    top: 2px;
  }
  20% {
    top: 1px;
  }
  40% {
    top: 2px;
  }
  75% {
    top: 0px;
  }
  100% {
    top: 2px;
  }
}
@keyframes bus-bounce {
  0% {
    top: 2px;
  }
  20% {
    top: 1px;
  }
  40% {
    top: 2px;
  }
  75% {
    top: 0px;
  }
  100% {
    top: 2px;
  }
}
