@charset "UTF-8";
* {
  position: relative;
  margin: 0px;
  padding: 0px;
  font-family: 微軟正黑體;
  box-sizing: border-box;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-top {
  box-shadow: 0px 25px 15px -20px rgba(0, 0, 0, 0.2);
}

.nav.navbar-nav.navbar-right {
  z-index: 1001;
}
.nav.navbar-nav.navbar-right li a {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.nav.navbar-nav.navbar-right li a:hover {
  border-bottom: 1px solid #1085A8;
  color: #1085A8;
}

.col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order {
  position: fixed;
  z-index: 1000;
  background-color: #eee;
  padding: 0px;
  box-sizing: border-box;
  height: 500px;
  border: 0px;
}
.col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid {
  padding: 0px 15px;
}
.col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row {
  padding: 0px;
}
.col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .banner.col-xs-12 {
  padding: 0px;
  background-color: #1085A8;
}
.col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .banner.col-xs-12 h3 {
  color: white;
}
.col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .click-area {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .click-area .order-block {
  border: 1px solid #383838;
  background-color: white;
  padding: 5px 0px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .formula, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .price, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .discount, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .text, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .total {
  padding: 0px;
  margin-top: 10px;
}
.col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .formula h5, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .price h5, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .discount h5, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .text h5, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .total h5 {
  margin-bottom: 0px;
}
.col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .price, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .discount, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .total {
  text-align: right;
}
.col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .bottom-line {
  height: 10px;
  border-bottom: 1px solid #ccc;
}
.col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .order-btn {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  background-color: #1085A8;
  color: white;
  font-weight: 400;
  font-size: 27px;
}
.col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .reminder h6 {
  text-align: center;
}

.intro {
  margin-top: 50px;
}

section {
  border-bottom: 1px solid #ccc;
}
section .title {
  font-size: 30px;
  font-weight: 600;
  color: #1085A8;
  margin: 20px 0px;
}

section#guide-line {
  margin-top: 10px;
}
section#guide-line .nav .nav-link {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 18px;
  margin-right: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
section#guide-line .nav .nav-link:hover {
  color: #1085A8;
}

section#main-info h1 {
  color: rgba(0, 0, 0, 0.9);
  margin: 20px 0px;
}
section#main-info .subtitle h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  display: inline-block;
  font-weight: 300;
}
section#main-info .subtitle .stars {
  color: #EEC853;
}

section#bus-info .work-time {
  margin-bottom: 20px;
}

section.content .detail {
  margin-bottom: 20px;
}

section#accessory .top .entertainment, section#accessory .top .safety-facilities, section#accessory .accessory-bottom .entertainment, section#accessory .accessory-bottom .safety-facilities {
  display: inline-block;
}
section#accessory .top .entertainment h4, section#accessory .top .safety-facilities h4, section#accessory .accessory-bottom .entertainment h4, section#accessory .accessory-bottom .safety-facilities h4 {
  color: #1085A8;
}
section#accessory .top .entertainment .block, section#accessory .top .safety-facilities .block, section#accessory .accessory-bottom .entertainment .block, section#accessory .accessory-bottom .safety-facilities .block {
  margin-top: 10px;
}
section#accessory .top .entertainment .block .icon, section#accessory .top .entertainment .block .icon-name, section#accessory .top .safety-facilities .block .icon, section#accessory .top .safety-facilities .block .icon-name, section#accessory .accessory-bottom .entertainment .block .icon, section#accessory .accessory-bottom .entertainment .block .icon-name, section#accessory .accessory-bottom .safety-facilities .block .icon, section#accessory .accessory-bottom .safety-facilities .block .icon-name {
  display: inline-block;
  vertical-align: middle;
}
section#accessory .top .entertainment .block .icon, section#accessory .top .safety-facilities .block .icon, section#accessory .accessory-bottom .entertainment .block .icon, section#accessory .accessory-bottom .safety-facilities .block .icon {
  width: 30px;
  height: 30px;
}
section#accessory .top .entertainment .block .icon-name, section#accessory .top .safety-facilities .block .icon-name, section#accessory .accessory-bottom .entertainment .block .icon-name, section#accessory .accessory-bottom .safety-facilities .block .icon-name {
  margin-left: 10px;
}
section#accessory .top .safety-facilities, section#accessory .accessory-bottom .safety-facilities {
  left: 30%;
}
section#accessory .accessory-bottom {
  overflow: hidden;
  height: 0px;
}
section#accessory .accessory-bottom .entertainment, section#accessory .accessory-bottom .safety-facilities {
  margin-bottom: 20px;
}
section#accessory .accessory-btn {
  margin: 20px 0px;
  background-color: #1085A8;
  color: white;
  padding: 10px 20px;
}

section#comment .stars {
  color: #EEC853;
  display: inline-block;
}
section#comment .title input {
  color: #ccc;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
  border: 2px solid #aaa;
  border-radius: 10px;
  height: 30px;
}
section#comment h4 {
  font-weight: 400;
  margin-bottom: 20px;
}
section#comment .comment {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
section#comment .comment .user-photo, section#comment .comment .user-info {
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
}
section#comment .comment .user-photo h4, section#comment .comment .user-info h4 {
  margin: 0px;
}
section#comment .comment img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
section#comment .comment .user-comment {
  margin: 20px 0px;
}

section#owner .block {
  display: inline-block;
}
section#owner .block .title {
  font-size: 30px;
}
section#owner .block .total-comments, section#owner .block .approval {
  display: inline-block;
}
section#owner .right-block {
  position: absolute;
  right: 0px;
  margin-top: 10px;
}
section#owner .right-block img {
  width: 100px;
  height: 100px;
  border: 4px solid rgba(0, 0, 0, 0.8);
  border-radius: 100%;
}
section#owner .info {
  margin: 20px 0px;
}
section#owner .owner-btn {
  background-color: #1085A8;
  color: white;
  font-weight: 200;
  padding: 10px;
  margin-bottom: 20px;
}

.picture {
  height: 500px;
  background-image: url(https://i.imgur.com/BwWEKCP.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info.col-xs-6.col-xs-offset-1 {
  padding: 0px;
}

.icon {
  width: 25px;
  height: 25px;
}

section.email {
  z-index: 1001;
  background-color: #1085A8;
  color: white;
  text-align: center;
}
section.email .container .row .col-md-12 h3 {
  color: #ccc;
  font-weight: 300;
}
section.email .container .row .col-md-12 input {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 350px;
}
section.email .container .row .col-md-12 .btn-default {
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .picture {
    height: 360px;
  }

  .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order {
    position: relative;
    height: 420px;
  }
  .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .click-area {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .formula, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .price, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .discount, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .text, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .total {
    margin-top: 5px;
  }
}
