@charset "UTF-8";
* {
  position: relative;
  margin: 0px;
  padding: 0px;
  font-family: 微軟正黑體;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
}

.homepage {
  width: 100%;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
.container-fluid .slideshow {
  width: 100%;
  height: 700px;
  background-color: #EFEFEF;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-fluid .slideshow .img1 {
  background-image: url("https://c1.staticflickr.com/3/2120/2412700745_f96180a79f_b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  height: 100%;
}
.container-fluid .slideshow .img1 h2 {
  color: white;
  font-family: cwTeXKai;
  top: 60px;
  left: 80%;
  margin: auto;
  font-size: 120px;
}
.container-fluid .slideshow .img2 {
  background-image: url("https://c2.staticflickr.com/4/3949/15649895006_2a318bd044_b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.container-fluid .slideshow .img2 h2 {
  color: white;
  font-family: cwTeXKai;
  top: 60px;
  left: 80%;
  margin: auto;
  font-size: 120px;
}
.container-fluid .slideshow .img3 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6e/%E5%AE%89%E5%B9%B3%E5%8F%A4%E5%A0%A1%E4%B9%8B%E7%BE%8E.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.container-fluid .slideshow .img3 h2 {
  color: white;
  font-family: cwTeXKai;
  top: 60px;
  left: 80%;
  margin: auto;
  font-size: 120px;
}
.container-fluid .slideshow .img4 {
  background-image: url("https://c1.staticflickr.com/9/8620/16447745079_633847cfa0_b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.container-fluid .slideshow .img4 h2 {
  color: white;
  font-family: cwTeXKai;
  top: 60px;
  left: 80%;
  margin: auto;
  font-size: 120px;
}
.container-fluid .slideshow .img5 {
  background-image: url("https://c1.staticflickr.com/5/4055/4591214493_327efde0ec_b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.container-fluid .slideshow .img5 h2 {
  color: white;
  font-family: cwTeXKai;
  top: 60px;
  left: 80%;
  margin: auto;
  font-size: 120px;
}
.container-fluid .slideshow .img6 {
  background-image: url("http://www.17life.com/Images/imagesU/3638a003-feb6-4de9-bcf6-4e16dfc27730/08.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.container-fluid .slideshow .img6 h2 {
  color: white;
  font-family: cwTeXKai;
  top: 60px;
  left: 80%;
  margin: auto;
  font-size: 120px;
}
.container-fluid .slideshow .img7 {
  background-image: url("http://p1.pichost.me/i/21/1438767.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.container-fluid .slideshow .img7 h2 {
  color: white;
  font-family: cwTeXKai;
  top: 60px;
  left: 80%;
  margin: auto;
  font-size: 120px;
}
.container-fluid .slideshow .img8 {
  background-image: url("http://2.blog.xuite.net/2/2/e/4/12535863/blog_3105607/txt/330085712/0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.container-fluid .slideshow .img8 h2 {
  color: white;
  font-family: cwTeXKai;
  top: 60px;
  left: 80%;
  margin: auto;
  font-size: 120px;
}
.container-fluid .slideshow .img9 {
  background-image: url("https://www.178tour.com.tw/uploadfile/goods3/20150901103915_7003.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.container-fluid .slideshow .img9 h2 {
  color: white;
  font-family: cwTeXKai;
  top: 60px;
  left: 80%;
  margin: auto;
  font-size: 120px;
}
.container-fluid .slideshow .image {
  padding: 0;
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  white-space: normal;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.container-fluid .slideshow .textarea {
  position: absolute;
  bottom: 130px;
  left: 5%;
  font-weight: bold;
  text-shadow: 4px 4px 8px black;
}
.container-fluid .slideshow .textarea .title {
  border: none;
  font-size: 42px;
  color: white;
}
.container-fluid .slideshow .textarea .name {
  border: none;
  font-size: 70px;
  font-weight: 500;
  color: #FFBF00;
}
.container-fluid .slideshow .textarea .slogan {
  border: none;
  font-size: 28px;
  color: white;
}

.icons .why {
  text-align: center;
}
.icons .why h5 {
  padding: 0;
  margin-top: -8px;
}

.category1 {
  margin-top: 5%;
  margin-left: 1%;
}
.category1 .bus1 {
  text-align: center;
}

.category2 {
  margin-top: 5%;
  margin-left: 1%;
}
.category2 .bus2 {
  text-align: center;
}
