<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>bus-page-ver.2-1016</title>


  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

      <link rel="stylesheet" href="css/bus.css">


</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-top">
  <div class="container">
    <div class="navbar-header"><a class="navbar-brand">BUS-lightyear</a></div>
    <div class="navbar-collapse collapse">
      <div class="nav navbar-nav navbar-right">
        <li><a>刊登資料 </a></li>
        <li><a>關於我們 </a></li>
        <li><a>臉書粉專 </a></li>
        <li><a>登入 </a></li>
      </div>
    </div>
  </div>
</nav>
<div class="intro">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-sm-12 picture"></div>
      <div class="col-md-4 col-md-offset-8 col-sm-10 col-sm-offset-1 order">
        <div class="container-fluid">
          <div class="row">
            <div class="banner col-xs-12">
              <h3>$ {{price_per_day}} TWD </h3>
            </div>
          </div>
          <div class="row">
            <div class="click-area col-xs-4 col-xs-offset-1">
              <div class="text">出發地</div>
              <div class="order-block">請選擇出發地</div>
            </div>
            <div class="click-area col-xs-4 col-xs-offset-2">
              <div class="text">目的地</div>
              <div class="order-block">請選擇目的地</div>
            </div>
          </div>
          <div class="row">
            <div class="click-area col-xs-4 col-xs-offset-1">
              <div class="text">租用日期 從</div>
              <div class="order-block">請選擇出發日期</div>
            </div>
            <div class="click-area col-xs-4 col-xs-offset-2">
              <div class="text">到</div>
              <div class="order-block">請選擇結束日期</div>
            </div>
          </div>
          <div class="row">
            <div class="formula col-xs-5 col-xs-offset-1 text-muted">
              <h5>$ {{price_per_day}} TWD x {{day}}天 </h5>
            </div>
            <div class="price col-xs-4 col-xs-offset-1 text-muted">
              <h5>$ {{price}} TWD</h5>
            </div>
            <div class="bottom-line col-xs-10 col-xs-offset-1"></div>
          </div>
          <div class="row">
            <div class="text col-xs-4 col-xs-offset-1">
              <h5 class="text-muted">折扣</h5>
            </div>
            <div class="discount col-xs-4 col-xs-offset-2">
              <h5 class="text-muted">{{discount}}</h5>
            </div>
            <div class="bottom-line col-xs-10 col-xs-offset-1"></div>
          </div>
          <div class="row">
            <div class="text col-xs-4 col-xs-offset-1">
              <h5 class="text-muted">總價</h5>
            </div>
            <div class="total col-xs-4 col-xs-offset-2">
              <h5 class="text-muted">$ {{total}} TWD</h5>
            </div>
            <div class="bottom-line col-xs-10 col-xs-offset-1"></div>
          </div>
          <div class="row">
            <div class="btn order-btn col-xs-6 col-xs-offset-3">開始預定</div>
            <div class="reminder col-xs-6 col-xs-offset-3">
              <h6 class="text-muted">您暫時不會被收費</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="info col-md-6 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <section id="guide-line">
          <ul class="nav"><a class="nav-link" href="#main-info">概述</a><a class="nav-link" href="#accessory">設備</a><a class="nav-link" href="#comment">評價</a><a class="nav-link" href="#owner">車主</a></ul>
        </section>
        <section id="main-info">
          <h1>{{title}}</h1>
          <div class="subtitle">
            <h3 class="total-comments">{{total_comments}} 則評價</h3>
            <h3 class="stars"> {{stars}}</h3>
          </div>
        </section>
        <section id="bus-info">
          <div class="title">遊覽車資訊</div>
          <h4 class="max-number">最高乘載人數：{{max_number}} 人</h4>
          <h4 class="work-time">工作時間： {{start_time}} - {{end_time}}</h4>
        </section>
        <section class="content">
          <div class="title">簡介</div>
          <p class="detail">{{intro}}</p>
        </section>
        <section class="content">
          <div class="title">注意事項</div>
          <div class="block" v-for="item in precautions_list">
            <p class="detail">{{item}}</p>
          </div>
        </section>
        <section class="content">
          <div class="title">可訂狀態</div>
          <p class="detail">{{subscribe}}</p>
        </section>
        <section class="content">
          <div class="title">退訂方案</div>
          <p class="detail">{{unsubscribe}}</p>
        </section>
        <section id="accessory">
          <div class="title">設備與安全措施</div>
          <div class="top">
            <div class="entertainment">
              <h4>設施</h4>
              <div class="block" v-for="item in entertainment_list"> <img class="icon" src="{{item.url}}"/>
                <div class="icon-name">{{item.name}}</div>
              </div>
            </div>
            <div class="safety-facilities">
              <h4>安全設備</h4>
              <div class="block" v-for="item in safety_facilities_list"> <img class="icon" src="{{item.url}}"/>
                <div class="icon-name">{{item.name}}</div>
              </div>
            </div><br/>
          </div>
          <div class="accessory-bottom">
            <div class="entertainment">
              <div class="block"><img class="icon" id="wifi" src="https://i.imgur.com/z4Mg3CO.png"/>
                <div class="icon-name">無線網路</div>
              </div>
              <div class="block"><img class="icon" id="wifi" src="https://i.imgur.com/z4Mg3CO.png"/>
                <div class="icon-name">無線網路</div>
              </div>
            </div>
            <div class="safety-facilities">
              <div class="block"><img class="icon" id="fire-extinguisher" src="https://i.imgur.com/hgEtmUj.png"/>
                <div class="icon-name">滅火器</div>
              </div>
              <div class="block"><img class="icon" id="fire-extinguisher" src="https://i.imgur.com/hgEtmUj.png"/>
                <div class="icon-name">滅火器</div>
              </div>
            </div>
          </div>
          <div class="accessory-btn btn">查看更多  </div>
        </section>
        <section id="comment">
          <div class="title">評價
            <div class="stars"> {{stars}}</div>
            <input id="search_bar" type="search" style="font-size: 15px" color="$color_gray" placeholder=" 搜尋評價"/>
          </div>
          <div class="driver-comment">
            <h4>司機評價
              <div class="stars"> {{driver_stars}}</div>
            </h4>
          </div>
          <div class="bus-comment">
            <h4>遊覽車評價
              <div class="stars"> {{bus_stars}}</div>
            </h4>
          </div>
          <div class="comment" v-for="item in user_comment_list"> <img class="user-photo" src="{{item.photo}}" alt=""/>
            <div class="user-info">
              <h4 class="user-name">{{item.name}}</h4>
              <div class="comment-date text-muted">{{item.date}}</div>
            </div>
            <div class="user-comment">
              <p> {{item.comment}}</p>
            </div>
          </div>
        </section>
        <section id="owner">
          <div class="block left-block">
            <div class="title">{{company_name}}</div>
            <div class="join-time text-muted">{{join_time}}</div>
            <div class="total-comments text-muted">{{company_comments}} 則評論</div>
            <div class="approval text-muted">{{approval}}</div>
          </div>
          <div class="block right-block"><img src="{{company_picture}}" alt=""/></div>
          <p class="info">{{company_info}}</p>
          <div class="owner-btn btn">向房東提問</div>
        </section>
      </div>
    </div>
  </div>
</div>
<section class="email">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-heading">想即時擁有最新的遊覽車優惠資訊嗎?</h2>
        <h3 class="section-subheading">輸入信箱、訂閱我們，我們會隨時提供最新的資訊</h3>
        <input class="form-control" type="email" placeholder="Email"/>
        <hr/>
        <button class="btn btn-default">訂閱我們</button>
      </div>
    </div>
  </div>
</section>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js'></script>

    <script  src="js/bus.js"></script>

</body>
</html>
