.buspage
  .empty_space
  .bus_photo 
  .guide_line
    .topic 概述
    .topic 設備
    .topic 評價
    .topic 車主
  .main_info
    .text 臺北市雙層巴士
    .subtext
      .number_of_comment 32則評價
      .star ★★★★★
  .bus_info
    .text 遊覽車資訊
    .max_number 最高乘載人數：
    .work_time 工作時間：
  .content
    .text 簡介
    .detail 每輛車配有GPS衛星定位系統，控管中心可以隨時掌握車輛的行駛速度、行駛路線等訊息，靈活調派車隊。在政府全面開放大陸客來台之際，本集團不僅添購新車，也增加LED電子顯示螢幕，提供客製化的服務。
  .content
    .text 注意事項
    .detail 1.強化玻璃最脆弱的一點，就是玻璃的四個角落，只要用普通鎚子尖的一端敲擊四個角落的任何一個角落，玻璃立即碎裂整片垮下。
    br
    .detail 2. 遊覽車為顧及乘客的安全，除了按照規定設置逃生門及安全天窗，另於駕駛座後及車輛中端部分準備有尖型鐵鎚已備不時之需。
    br
    .detail 3. 如遇事故 ! 在逃生時讓乘客能夠利用車上預備的尖型鐵鎚，擊破大面積的強化車窗玻璃，是最快的緊急逃生方式。
  .content
    .text 退訂方案
    .detail 在旅程開始7天前取消預訂，可獲得50%的退款。如果在旅程開始前7天內取消預訂，住宿費用將無法退還。
  .content.approve
    .text 可訂狀態
    .detail 最少租用3小時。
  .accessory
    .title 設備與安全措施
    .entertainment
      .text 設施
      .set
        img.icon(src="https://i.imgur.com/z4Mg3CO.png", alt="")
        .name 無線網路
      .set
        img.icon(src="https://i.imgur.com/We6MzGO.png", alt="")
        .name 有線電視
      .set
        img.icon(src="https://i.imgur.com/WZSkECC.png", alt="")
        .name 廁所
    .safety_facilities
      .text 安全設備
      .set
        img.icon(src="https://i.imgur.com/hgEtmUj.png", alt="")
        .name 滅火器
      .set
        img.icon(src="https://i.imgur.com/E1rAIGF.png", alt="")
        .name 擊窗器
      .set
        img.icon(src="https://i.imgur.com/IdUJNPo.png", alt="")
        .name 無障礙設施
    br
    .button 查看更多
  .comment
    .total_comment 
      .text 評價
      .star ★★★★★
      input#search_bar(type="text" style="font-size: 15px" color="$color_gray" value="搜尋評價")
    .driver_comment
      .type 司機評價
      .star ★★★★★
    .bus_comment
      .type 遊覽車評價
      .star ★★★★★
  .owner 
    .block.left 
      .text
        .title e-go 臺灣租車旅遊集團
        .join_time 2017年11月
        .number_of_comment 則評論
        .approval 已認證
    .bloc.right 
      img.photo
    .info 台灣租車旅遊集團成立至今逾30個年頭，旗下600多輛車，提供甲種汽車租賃、 遊覽車客運、公路客運、交通旅遊、觀光巴士等各式服務，「做個快樂的員工、滿足客戶的需求、創造公司最大利益」為集團經營理念，每位員工秉持「以客為尊、安全第一」的營運理念，提供尊爵的服務品質，目前已是全台最大的旅遊運輸車隊。
    .button 向房東提問
  .similar_choice

    

   
.order
  .banner 
    .text $5,488 TWD
  .enterspace
    .textarea
      .text 出發地
      br
      .orderblock.dep_order 新竹
    .textarea.textarea_right
      .text 目的地
      br
      .orderblock.des_order 宜蘭
  .enterspace
    .textarea
      .text 租用日期 從
      br
      .orderblock.start_date 2017.09.27
    .textarea.textarea_right  
      .text 到
      br
      .orderblock.end_date 2017.09.29
  .show.text
    .text_left $5,488 TWD x 3天 
    .text_right $16,464
  .show.text 
    .text_left 折扣
    .text_right 九折   
  .show.text 
    .text_left 總價約為
    .text_right $14,810
  .button 開始預訂
  .line 您暫時不會被收費


.header
  .headerlinkarea 
    .headerlink.data 刊登遊覽車資料
    .headerlink.massage 訊息
    .headerlink.assist 協助
    .headerlink.login 登入
  img.logo(src="https://image.flaticon.com/icons/svg/171/171256.svg", alt="")
  .mainarea
    .link.home 首頁
    .link.bus 遊覽車
  .searcharea
    .search.destination
      .show
        #dep_choice.choice 基隆市
        .choice.choice1 台北市
        .choice.choice1 新北市 
        .choice.choice1 桃園縣 
        .choice.choice1 新竹市 
        .choice.choice1 新竹縣 
        .choice.choice1 苗栗縣 
        .choice.choice1 台中市
        .choice.choice1 彰化縣
        .choice.choice1 南投縣
        .choice.choice1 雲林縣
        .choice.choice1 嘉義市
        .choice.choice1 嘉義縣
        .choice.choice1 台南市
        .choice.choice1 高雄市
        .choice.choice1 屏東縣
        .choice.choice1 宜蘭縣 
        .choice.choice1 花蓮縣
        .choice.choice1 台東縣 
      img.icon(src="https://i.imgur.com/FaOfEGX.png", alt="")
      .text.text_des 出發地
    .search.departure 
      .show
        .choice.choice2 基隆市
        .choice.choice2 台北市
        .choice.choice2 新北市 
        .choice.choice2 桃園縣 
        .choice.choice2 新竹市 
        .choice.choice2 新竹縣 
        .choice.choice2 苗栗縣 
        .choice.choice2 台中市
        .choice.choice2 彰化縣
        .choice.choice2 南投縣
        .choice.choice2 雲林縣
        .choice.choice2 嘉義市
        .choice.choice2 嘉義縣
        .choice.choice2 台南市
        .choice.choice2 高雄市
        .choice.choice2 屏東縣
        .choice.choice2 宜蘭縣 
        .choice.choice2 花蓮縣
        .choice.choice2 台東縣
      img.icon(src="https://i.imgur.com/FaOfEGX.png", alt="")
      .text.text_dep 目的地
    .search.date 
      img.icon(src="https://i.imgur.com/8ul4MUL.png", alt="")
      input(type="date")
    .search.number 
      img.icon(src="https://i.imgur.com/5O09Dnu.png", alt="") 
      .text 人數
    .login_cover_off
      .login_cover
      .login_window
        .close_window 
          .text Ｘ
        .facebook_login.button  
          .icon
          .text 使用facebook帳號登入
        .google_login.button  
          .icon
          .text 使用Google帳號登入
        .text_or ————————— 或 —————————
        .email_input.button 
          input(placeholder="電子郵件地址")
        .password_input.button 
          input(type="password" placeholder="密碼")
          .icon
        .login_forgot 忘記密碼？
        .login_button.button 
          .text 登入
        hr
        h4 還沒有帳號嗎？
        .change_to_signup  
          .text 註冊 
    .signup_cover_off
      .signup_cover
      .login_window
        .close_window 
          .text Ｘ
        .facebook_login.button  
          .icon
          .text 使用facebook帳號註冊
        .google_login.button  
          .icon
          .text 使用Google帳號註冊
        .text_or ————————— 或 —————————
        .email_signup.button 
          input(placeholder="電子郵件地址")
        .firstname_signup.button 
          input(placeholder="名字")
        .lastname_signup.button 
          input(placeholder="姓氏")
        .password_signup.button 
          input(placeholder="建立密碼")
        .login_button.signup_button.button 
          .text 註冊
        hr
        h4 已經有Bus光年帳號了嗎？
        .change_to_login
          .text 登入
        
        
      
    
        
        
      
        


  
 
    
  
  
  
  