@charset "UTF-8";
* {
  position: relative;
  margin: 0px;
  padding: 0px;
  font-family: 微軟正黑體;
  box-sizing: border-box;
  /*border:solid 0.5px;*/
}

.bottom_img{
  position:relative;
  width:100%;
  height:400px;
  background-color:#EFEFEF;
}
.bottom_img img{
  background-size:contain;
  background-position:center;
  width:100%;
}
.index_img{
  position: relative;
}
.index_img img{
  background-position:center;
  width:100%;
}
.bottom_block{
  color:#FFFFFF;
  position: absolute;
  bottom: 0px;
  right: 5%;
  width: 50%;
  height: 40%; 
}
.index_block{
  background-color:#1085A8;
  opacity: 0.75;
  color:#FFFFFF;
  position: absolute;
  bottom: 11.2%;
  left: 10%;
  width: 35%;
  height: 36%;
}

.bottom_block_text{
  margin-right:10%;
  text-align: right;
  margin-top:8%;
}
.index_block_text{
  margin-left:5%;
  text-align:left;
  margin-top:5%;
  margin-right:2%;
}
.bottom_block_text p{
  font-style: bold;
  font-size:2.4em;
  margin-bottom:5px;
  margin-top:4%;
}
.bottom_block_text .btn{
  float: right;
}

.index_block_text p{
  font-size:1.3em;
  margin-bottom:2%;
  margin-top:4%;
}

.index_block_text h3{
  font-size:2.4em;
  margin-top:4%;
  margin-bottom:0px;
}

@media (min-width: 768px) and (max-width:967px){
  .index_block{
  height:48%; 
 }
 .index_block_text h3{
  font-size:1.4em;
 }
 .index_block_text p{
  font-size:1em;
 }
}
@media (min-width: 968px) and (max-width:1020px){
  .index_block{
  height:45%; 
 }
 .index_block_text h3{
  font-size:1.3em;
 }
 .index_block_text p{
  font-size:0.8em;
 }
}
@media (min-width: 1021px) and (max-width:1600px){
 .index_block{
  height:45%; 
 }
 .index_block_text h3{
  font-size:1.6em;
 }
 .index_block_text p{
  font-size:1.2em;
 }
}
@media (min-width: 1100px) and (max-width:1600px){
 .index_block{
  height:38%; 
 }
 
}
section.section1{
  margin-top: 0px;
  background-color: #1085AB;
  opacity:0.9;
  color:#FFFFFF;
}
section.section1 .container{
  padding-top:7%;
  padding-bottom:7%;
  
}
section.section1 .heading{
  text-align:Left;
  margin-top:5%;
  margin-left:15%;
  margin-right:15%;
}
section.section1 .heading h1{
  color:#000000;
  font-size:28px;
  margin-bottom: 0px;
}
section.section1 .heading h2{
  margin-top: 0px;
  font-size:20px;
  color: #FFFFFF;
}
section.section1 .heading p{
  margin-top:2%;
  font-size:16px;
  color: #000000;
}

section.section1 .info-user h3{
  color:#FFFFFF;
}
section.section1 .info-user h4{
  color:#000000;
}

section.section1 .info-user p{
  margin-left: 10%;
  margin-right: 10%;
  color:#000000;
}

section.section2 .container{
  margin-top:5%;
  margin-bottom:5%;
}


section.section2 .row{
  margin-bottom: 10%;
}
section.section3 {
  padding-bottom: 5%;
}

.item{
  padding:10px;
  text-align: center;
}
.item img{
  margin-left:auto;
  margin-right:auto;
  display:block;
  width: 40%;
}
.item h2{
  margin-top: 5%;
  font-size:24px;
  margin-bottom: 5%;
}
.item p{
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: 20%;
  margin-right: 20%;
  font-size:14px;
  letter-spacing: 2px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.info-content{
  text-align:Left;
  margin-top:5%;
  margin-left:15%;
  margin-right:15%;
}
.info-content#section2_head{
  text-align:center;
}
.info-content#section2_head h1{
  font-size:40px;
}
.info-content#section2_head h2{
  font-size:28px;
  color:#1085AB;
}
.info-content h1{
  
  font-size:28px;
}
.info-content p{
  margin-top:2%;
  font-size:18px;
}
.info-user{
    
    text-align:center;
    
}
.info-user img{
  margin-top: 5%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  vertical-align: middle;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
.info-user h3{
    margin-top: 5%;
    font-size: 25px;
}


h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 27px;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-top {
  box-shadow: 0px 25px 15px -20px rgba(0, 0, 0, 0.2);
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top .container .navbar-header input {
  height: 20px;
  vertical-align: middle;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top .container .searchbar {
  z-index: 1005;
  position: absolute;
  margin-left: 150px;
  margin-top: 10px;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top .container .navbar-collapse.collapse {
  display: inline-block;
}

.nav.navbar-nav.navbar-right {
  z-index: 1001;
}
.nav.navbar-nav.navbar-right li a {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.nav.navbar-nav.navbar-right li a:hover {
  border-bottom: 1px solid #1085A8;
  color: #1085A8;
}



.intro {
  padding-top: 50px;
}




section {
  border-bottom: 1px solid #ccc;
}
section .title {
  font-weight: 600;
  color: #1085A8;
  margin: 20px 0px;
}

section#guide-line {
  margin: 20px 0px;
}
section#guide-line .nav .nav-link {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 18px;
  margin-right: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
section#guide-line .nav .nav-link:hover {
  color: #1085A8;
}

section#main-info {
  margin: 0px;
}
section#main-info .subtitle .total-comments, section#main-info .subtitle .stars {
  display: inline-block;
  margin-bottom: 20px;
}
section#main-info .subtitle .stars {
  color: #EEC853;
}

section#bus-info {
  padding: 25px 0px;
}
section#bus-info .work-time {
  margin-bottom: 20px;
}

section.content {
  padding: 25px 0px;
}
section.content .detail {
  margin-bottom: 20px;
}

section#accessory {
  padding: 25px 0px;
}
section#accessory .top .entertainment, section#accessory .top .safety-facilities, section#accessory .accessory-bottom .entertainment, section#accessory .accessory-bottom .safety-facilities {
  display: inline-block;
}
section#accessory .top .entertainment h4, section#accessory .top .safety-facilities h4, section#accessory .accessory-bottom .entertainment h4, section#accessory .accessory-bottom .safety-facilities h4 {
  color: #1085A8;
}
section#accessory .top .entertainment .block, section#accessory .top .safety-facilities .block, section#accessory .accessory-bottom .entertainment .block, section#accessory .accessory-bottom .safety-facilities .block {
  margin-top: 10px;
}
section#accessory .top .entertainment .block .icon, section#accessory .top .entertainment .block .icon-name, section#accessory .top .safety-facilities .block .icon, section#accessory .top .safety-facilities .block .icon-name, section#accessory .accessory-bottom .entertainment .block .icon, section#accessory .accessory-bottom .entertainment .block .icon-name, section#accessory .accessory-bottom .safety-facilities .block .icon, section#accessory .accessory-bottom .safety-facilities .block .icon-name {
  display: inline-block;
  vertical-align: middle;
}
section#accessory .top .entertainment .block .icon, section#accessory .top .safety-facilities .block .icon, section#accessory .accessory-bottom .entertainment .block .icon, section#accessory .accessory-bottom .safety-facilities .block .icon {
  width: 30px;
  height: 30px;
}
section#accessory .top .entertainment .block .icon-name, section#accessory .top .safety-facilities .block .icon-name, section#accessory .accessory-bottom .entertainment .block .icon-name, section#accessory .accessory-bottom .safety-facilities .block .icon-name {
  margin-left: 10px;
}
section#accessory .top .safety-facilities, section#accessory .accessory-bottom .safety-facilities {
  left: 30%;
}
section#accessory .accessory-bottom {
  overflow: hidden;
  height: 0px;
}
section#accessory .accessory-bottom .entertainment, section#accessory .accessory-bottom .safety-facilities {
  margin-bottom: 20px;
}
section#accessory .accessory-btn {
  margin: 20px 0px;
  background-color: #1085A8;
  color: white;
  padding: 10px 20px;
}

section#comment {
  padding: 20px 0px;
}
section#comment .stars {
  color: #EEC853;
  display: inline-block;
}
section#comment .title input {
  color: #ccc;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
  border: 2px solid #aaa;
  border-radius: 10px;
  height: 30px;
}
section#comment h4 {
  font-weight: 400;
  margin-bottom: 20px;
}
section#comment .bus-comment {
  margin-bottom: 40px;
}
section#comment .comment {
  padding: 25px 0px;
  border-top: 1px solid #aaa;
}
section#comment .comment .user-photo, section#comment .comment .user-info {
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
}
section#comment .comment .user-photo h4, section#comment .comment .user-info h4 {
  margin: 0px;
}
section#comment .comment img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
section#comment .comment .user-comment {
  margin: 20px 0px;
}

section#owner {
  padding: 25px 0px;
}
section#owner .container-fluid {
  padding: 0px;
  margin: 0px;
}
section#owner .row {
  padding: 0px;
}
section#owner .row p.info.col-sm-12 {
  padding: 0px;
}
section#owner .block {
  padding: 0px;
}
section#owner .block .title {
  font-size: 30px;
}
section#owner .block .total-comments, section#owner .block .approval {
  display: inline-block;
}
section#owner .block img {
  width: 100px;
  height: 100px;
  border: 4px solid rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  margin: 15px 0px;
}
section#owner .info {
  margin: 20px 0px;
}
section#owner .owner-btn {
  background-color: #1085A8;
  color: white;
  font-weight: 200;
  padding: 10px;
  margin-bottom: 20px;
}



.info.col-xs-6.col-xs-offset-1 {
  padding: 0px;
}

.icon {
  width: 25px;
  height: 25px;
}

section.email {
  margin-top:3%;
  padding-top: 5%;
  padding-bottom: 7%;
  z-index: 1001;
  background-color: #1085A8;
  color: white;
  text-align: center;
}
section.email .container .row .col-md-12 h3 {
  color: #ccc;
  font-weight: 300;
}
section.email .container .row .col-md-12 input {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 350px;
}
section.email .container .row .col-md-12 .btn-default {
  margin-bottom: 10px;
}

/*@media screen and (max-width: 992px) {*/
  h6, h5 {
    font-size: 30px;
  }

  h3 {
    font-size: 60px;
  }

  p {
    font-size: 30px;
    margin: 60px 0px;
  }

  section .title {
    font-size: 60px;
  }

  section#guide-line {
    margin-top: 50px;
  }
  section#guide-line .nav .nav-link {
    font-size: 27px;
  }

  .picture {
    height: 400px;
  }

/*  .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order {*/
/*    position: relative;*/
/*    height: initial;*/
/*  }*/
/*  .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid {*/
/*    padding: 0px;*/
/*  }*/
/*  .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row {*/
/*    padding-bottom: 40px;*/
/*  }*/
/*  .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .click-area {*/
/*    margin-top: 10px;*/
/*    margin-bottom: 0px;*/
/*  }*/
/*  .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .formula, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .price, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .discount, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .text, .col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order .container-fluid .row .total {*/
/*    margin-top: 5px;*/
/*  }*/
/*}*/

@media screen and (max-width: 767px) {
  nav.navbar.navbar-default.navbar-fixed-top.navbar-top .container .navbar-collapse.collapse {
    display: none;
  }
  nav.navbar.navbar-default.navbar-fixed-top.navbar-top .container .searchbar {
    width: 300px;
    margin-left: 30%;
    margin-top: -42px;
  }
  nav.navbar.navbar-default.navbar-fixed-top.navbar-top .container .searchbar .search-block, nav.navbar.navbar-default.navbar-fixed-top.navbar-top .container .searchbar .search-btn {
    display: inline-block;
  }
  nav.navbar.navbar-default.navbar-fixed-top.navbar-top .container .searchbar .search-block {
    width: 70%;
  }

  /*.col-md-4.col-md-offset-8.col-sm-10.col-sm-offset-1.order {*/
  /*  height: initial;*/
  /*}*/

  section#owner .row {
    padding: 0px;
  }
  section#owner .row .block .total-comments, section#owner .row .block .approval {
    display: none;
  }
  section#owner .row .block .title, section#owner .row .block .join-time, section#owner .row .block .total-comments, section#owner .row .block .approval {
    text-align: center;
  }
  section#owner .row .block img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .index_block{
    height:60%;
  }
  .index_block_text h3{
    font-size: 0.5em;
  }
  .index_block_text p{
    font-size: 0.3em;
  }
  .bottom_img img{
    min-width:450px;
  }
}



